div {
	margin: 0px;
	padding: 0px;
}

table {
	padding: 0px;
	margin: 0px;
	width: 100%;		
}

ul {
	text-align: left;
}

h1 {
	margin: 0px;
}

.main {
	padding: 0px;
	margin: 0px;
	border-bottom: 10px solid #f7f8f9;
	border-left: 10px solid #f7f8f9;
	border-right: 10px solid #f7f8f9;
	border-top: 10px solid #f7f8f9;
}

.top {
	padding: 0px;
	margin: 0px;
	height: 90px;
	background: #505f75;
	line-height: 40px; 
	text-align: center;
	color: white; 
	font-size: 25px;
	border-top: 2px solid silver;
	border-left: 2px solid silver;
	border-right: 2px solid silver;
}

.container {
	display: flex;
	position: relative;
	border-left: 2px solid silver;
	border-right: 2px solid silver;
	border-bottom: 2px solid silver;
}

.left-container {
	text-align: center;
	width: 300px;
	background: linear-gradient(to left, silver, #3a3d42)
}

.img {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;
	border-radius: 35px;
	border: 2px solid silver;
}

.table_left {
	padding: 10px;
	color: white;
}

.line_left {
	text-align: left;
	border-bottom: 2px solid #f7ff14;
}

.love {
	font-size: 12px;
	text-align: center;
	border-radius: 10px;
}

.love_s {
	background: orange;
	border-radius: 10px;
	width: 150px;
}

.love_m {
	background: #025def;
	border-radius: 10px;
	width: 100px;
}

.love_p {
	background: green;
	border-radius: 10px;
	width: 190px;
}


.right-container {
	margin: 10px;
	text-align: center;
	width: 100%
}
		
.line_right {
	text-align: left;
	border-bottom: 2px solid #00CCCC;
	font-size: 16px;
}